.rdp {
  --rdp-cell-size: 40px;
  --rdp-accent-color: var(--accent);
  --rdp-background-color: var(--background);
  --rdp-accent-color-dark: var(--accent-foreground);
  --rdp-background-color-dark: var(--accent);
  --rdp-outline: 2px solid var(--ring);
  --rdp-outline-selected: 3px solid var(--ring);
  margin: 1em;
}

.rdp-months {
  display: flex;
}

.rdp-month {
  margin: 0 1em;
}

.rdp-day_selected,
.rdp-day_selected:focus-visible,
.rdp-day_selected:hover {
  color: var(--primary-foreground) !important;
  background-color: var(--primary) !important;
}

.rdp-day_today {
  color: var(--accent-foreground) !important;
  background-color: var(--accent) !important;
}

.rdp-button:hover:not([disabled]):not(.rdp-day_selected) {
  background-color: var(--accent);
  color: var(--accent-foreground);
} 