# Supabase Configuration
NEXT_PUBLIC_SUPABASE_URL=your_supabase_url
NEXT_PUBLIC_SUPABASE_ANON_KEY=your_supabase_anon_key
SUPABASE_URL=your_supabase_url
SUPABASE_ANON_KEY=your_supabase_anon_key

# OpenAI Configuration
OPENAI_API_KEY=your_openai_api_key

# Teller Configuration
NEXT_PUBLIC_TELLER_APP_ID=your_teller_app_id
NEXT_PUBLIC_TELLER_ENV=sandbox # or development, production
NEXT_PUBLIC_TELLER_API_URL=https://api.teller.io

# Mindee Configuration
NEXT_PUBLIC_MINDEE_API_KEY=your_mindee_api_key

# Cloudflare R2 Configuration
NEXT_PUBLIC_R2_ACCOUNT_ID=your_account_id
NEXT_PUBLIC_R2_ACCESS_KEY_ID=your_access_key_id
NEXT_PUBLIC_R2_SECRET_ACCESS_KEY=your_secret_access_key
NEXT_PUBLIC_R2_BUCKET_NAME=your_bucket_name
NEXT_PUBLIC_R2_PUBLIC_URL=your_public_domain.r2.dev 